<mat-toolbar>
  <span>Detail Page of Article</span>
</mat-toolbar>
<div class="container">
  <div class="column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Card 1 - 2024-Q1-123</mat-card-title>
        <mat-card-subtitle>Image wil go here</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img class="responsive-image" mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" />
      </mat-card-content>
      <mat-card-actions class="justify">
        <button mat-flat-button color="primary">Previous</button>
        <button mat-flat-button color="primary">Next</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Card 2 - Details</mat-card-title>
        <mat-card-subtitle>Select edit to change</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="display: flex; justify-content: center;">
        <form>

          <div> <!-- Added inline for spacing whole line -->
            <mat-form-field appearance="outline" style="padding-right: 3rem; width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput type="text" name="name" [disabled]="isDisabledName">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <input matInput type="text" name="type" [disabled]="isDisabledType">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="padding-right: 3rem;">
              <mat-label>Height (cm)</mat-label>
              <input matInput type="number" name="height" [disabled]="isDisabledHeight">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Width (cm)</mat-label>
              <input matInput type="number" name="width" [disabled]="isDisabledWidth">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" style="padding-right: 3rem;">
              <mat-label>Diameter (cm)</mat-label>
              <input matInput type="number" name="diameter" [disabled]="isDisabledDiameter">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Display Status</mat-label>
              <input matInput type="text" name="displayStatus" [disabled]="isDisabledDisplayStatus">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="padding-right: 3rem;">
              <mat-label>In Store Time</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="inStoreTime" [disabled]="isDisabledDatePicker">
              <mat-datepicker-toggle matSuffix [for]="picker"
                [disabled]="isDisabledInStoreTime"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
            <div>
              <mat-checkbox matInput color="primary" [disabled]="isDisabledDepotBoolean"> Depot</mat-checkbox>
              <mat-checkbox matInput color="primary" [disabled]="isDisabledSoldBoolean"> Sold</mat-checkbox>
              <mat-checkbox matInput color="primary" [disabled]="isDisabledOtherStoreBoolean"> In other
                store</mat-checkbox>
            </div>
            <!-- checkbox can not be in mat-form-field
              https://github.com/angular/components/issues/7891#issuecomment-1479950909
            -->

          </div>



        </form>

      </mat-card-content>
      <mat-card-actions class="justify">
        <button mat-flat-button color="primary" (click)="toggleEditMode()">Edit</button>
        <button mat-raised-button color="primary" (click)="toggleEditMode()" disabledInteractive matTooltip="Click Edit"
          [disabled]="isDisabledSaveButton">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Card 3</mat-card-title>
        <mat-card-subtitle>Extra information will go here</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>This Card 3 - Description - Links related to article.Id</p>
        <div>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Desciption</mat-label>
            <textarea matInput type="text" name="description" [disabled]="isDisabledDescription"
              cdkTextareaAutosize></textarea>
          </mat-form-field>

          <table mat-table aria-label="article info" [dataSource]="dataSource">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Customer </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="solddate">
              <th mat-header-cell *matHeaderCellDef> Sold on</th>
              <td mat-cell *matCellDef="let element"> {{element.soldDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


        </div>

      </mat-card-content>
    </mat-card>

  </div>
